NODE_ENV='development'

SESSION_SECRET=b2623423bb022add0c991e4e2b55974fa46debd1a75bce0de09306299026e3c8

APP_NAME=Skull

INERTIA_VIEW='app'
INERTIA_VERSION='4.2.1'

ROUTES_FOLDER = 'src/app/controllers'

APP_HOST='http://localhost:3000'
APP_PORT=3000

DATABASE_DRIVER=sqlite
DATABASE=database.db
DATABASE_HOST
DATABASE_PORT
DATABASE_USERNAME
DATABASE_PASSWORD
DATABASE_SYNCHRONIZE=true
DATABASE_LOGGING=false
DATABASE_ENTITIES='src/server/models/**/*.ts'
DATABASE_MIGRATIONS='src/app/migrations/**/*.ts'
DATABASE_SUBSCRIBERS='src/app/subscribers/**/*.ts'

USER_EMAIL_VERIFICATION=true
USER_PHONE_VERIFICATION=true

MAIL_MAILER=smtp
MAIL_HOST=smtp-relay.sendinblue.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SECURE=false
MAIL_FROM_ADDRESS="noreply@example.com"
MAIL_FROM_NAME="Skull"

SMS_API_HOST=https://api.brevo.com/v3/transactionalSMS/sms
SMS_API_KEY=
SMS_API_SENDER=Skull

